<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tareas 
    </ion-title>

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    


  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tareas</ion-title>
    </ion-toolbar>
  </ion-header>



  <div class="card" style="width: 22rem;">
    <div class="card-body">

      
      <h5 class="card-title">Registro de actividad</h5>

      <ion-input type="text" placeholder="Ingrese la actividad" [(ngModel)]="task.actividad"> </ion-input>
      <ion-input type="text"  placeholder="Ingrese el tipo" [(ngModel)]="task.tipo"> </ion-input>
      <ion-list>
          <ion-item>
            <ion-select placeholder="Seleccione estado de actividad" [(ngModel)]="task.estado">
              <ion-select-option value="Por hacer">Por hacer</ion-select-option>
              <ion-select-option value="En proceso">En proceso</ion-select-option>
              <ion-select-option value="Listo">Listo</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

      
    
      <ion-button (click)="registrarTask()">Registrar </ion-button>

    </div>
  </div>

  <ion-toolbar>
    <ion-title>Lista de tareas</ion-title>
  </ion-toolbar>

  
  <ul >
    <li class="list-group-item" *ngFor="let task of listtasks"> 
      <table class="table"> 
        <thead> 
          <tr> 
            <th scope="col">Actividad  </th>
            <th scope="col" >Tipo</th>
            <th scope="col" >Estado</th>
           
          </tr>
          <tr>
            
          </tr>
          
          
        </thead>
        <tbody>  
          
          <td> {{task.actividad}}</td>
          <td> {{task.tipo}}</td>
          <td> {{task.estado}}</td>
        
        </tbody>

        <ion-button (click)="eliminar(task.id)">
          <ion-icon name="trash-outline"></ion-icon>  </ion-button>
        <ion-button (click)="modificar(task.id)">
          <ion-icon name="create-outline"></ion-icon>  </ion-button>
        <ion-button (click)="markasdone(task.id)" >
          <ion-icon name="checkmark-done-outline"></ion-icon>
        </ion-button>
        
        
        


      </table>
      
      
      
      


  </li>
  </ul>


</ion-content>
